<h1 class="title ">Letux</h1>

<div class="imgcontainer">
	<%= image_tag 'ruby.png', class:'avatar' %>
</div>

<div class="container">
	<p class="subtitle" >Subway tile meditation leggings lo-fi craft beer scenester sustainable banjo put a bird on it. Locavore tousled edison bulb, VHS street art next level drinking vinegar lomo lumbersexual vegan neutra vinyl forage tilde. Keytar jean shorts austin, vice semiotics keffiyeh quinoa man braid.</p>
</div>

<div class="links">
	<%= login_helper %>
</div>